@font-face {
    font-family: "jingdianlibian";
    src: url("../fonts/jingdianlibian/iconfont.eot");
    src: url("../fonts/jingdianlibian/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jingdianlibian/iconfont.woff") format("woff"), url("../fonts/jingdianlibian/iconfont.ttf") format("truetype"), url("../fonts/jingdianlibian/iconfont.svg#iconfont") format("svg")
}

@font-face {
    font-family: "tangyushufa";
    src: url("../fonts/tangyushufa/iconfont.eot");
    src: url("../fonts/tangyushufa/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tangyushufa/iconfont.woff") format("woff"), url("../fonts/tangyushufa/iconfont.ttf") format("truetype"), url("../fonts/tangyushufa/iconfont.svg#iconfont") format("svg")
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfonts/iconfont.eot');
    src: url('../fonts/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfonts/iconfont.woff') format('woff'), url('../fonts/iconfonts/iconfont.ttf') format('truetype'), url('../fonts/iconfonts/iconfont.svg#iconfont') format('svg');
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfonts/iconfont.eot');
    src: url('../fonts/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfonts/iconfont.woff') format('woff'), url('../fonts/iconfonts/iconfont.ttf') format('truetype'), url('../fonts/iconfonts/iconfont.svg#iconfont') format('svg');
}

@font-face {
    font-family: "minijianli";
    src: url("../fonts/minijianli/iconfont.eot");
    src: url("../fonts/minijianli/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/minijianli/iconfont.woff") format("woff"), url("../fonts/minijianli/iconfont.ttf") format("truetype"), url("../fonts/minijianli/iconfont.svg#iconfont") format("svg")
}

@font-face {
    font-family: "likexu";
    src: url("../fonts/likexu/iconfont.eot");
    src: url("../fonts/likexu/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/likexu/iconfont.woff") format("woff"), url("../fonts/likexu/iconfont.ttf") format("truetype"), url("../fonts/likexu/iconfont.svg#iconfont") format("svg")
}

.iconfont,
.minijianli,
.likexu,
.iconfont,
.tangyushufa,
.jingdianlibian {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont {
    font-family: "iconfont" !important;
}

.jingdianlibian {
    font-family: "jingdianlibian" !important;
}

.tangyushufa {
    font-family: "tangyushufa" !important;
}

.icon-more:before {
    content: "\e600";
}

.minijianli {
    font-family: "minijianli" !important;
}

.likexu {
    font-family: "likexu" !important;
}