.page-names-details {
    background-color: #fff7e7;
}

.name-details {
    padding: .5rem .3rem;
}

.name-details-info ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: .1rem;
}

.name-details-info ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style: none;
    text-align: center;
}

.name-details-info ul li+li {
    -webkit-box-flex: 2.2;
    -moz-box-flex: 2.2;
    -webkit-flex: 2.2;
    -ms-flex: 2.2;
    flex: 2.2;
    margin-left: .1rem;
}

.name-details-info ul li span {
    display: block;
    background-color: #fff7e7;
    border: solid 1px #caa177;
    margin-bottom: .1rem;
    padding: .2rem 0;
}

@media(max-width: 768px) {
    .name-details-info ul li span {
        font-size: .5rem;
    }
}

.name-details-info {
    margin-bottom: .5rem;
}

.name-lucky {
    margin-bottom: .5rem;
}

.name-lucky>div {
    margin-bottom: .6rem;
}

.name-lucky h4 {
    margin: .2rem 0;
    font-size: .5rem;
    font-weight: normal;
}

.name-lucky h4 span {
    display: inline-block;
    padding: .05rem .3rem;
    border-left: solid 5px transparent;
    color: #333;
}

.name-lucky h4.bg-primary-1 span {
    border-color: #fbb102;
}

.name-lucky h4.bg-primary-2 span {
    border-color: #c4a0ff;
}

.name-lucky h4.bg-primary-3 span {
    border-color: #509afd;
}

.name-lucky h4.bg-primary-4 span {
    border-color: #59d8cd;
}

.name-lucky h4.bg-primary-5 span {
    border-color: #2ccc6c;
}

.name-lucky h4.bg-primary-6 span {
    border-color: #fd7879;
}

.name-lucky h4.bg-primary-7 span {
    border-color: #54ceff;
}

.name-lucky h4.bg-primary-8 span {
    border-color: #fbb102;
}

.name-lucky h4.bg-primary-9 span {
    border-color: #c39fff;
}

.name-zodiac p,
.name-explain p {
    padding: 0 .3rem;
    line-height: 1.6;
    word-break: break-all;
}

.name-explain p {
    margin: 0 auto;
}

.name-bazi p {
    text-indent: 2em;
    line-height: 1.8;
    padding: 0 .3rem;
}

.name-lucky p {
    line-height: 1.8;
    padding: 0 .3rem;
}

.name-explain-title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
}

.name-explain-title div {
    margin: 0 .3em;
    text-align: center;
}

.name-explain-title div span {
    display: block;
    position: relative;
    overflow: hidden;
    color: #b2182a;
    font-size: .5rem;
    margin: 0 auto .3rem;
    line-height: 1;
}

.name-explain-title div .name {
    width: 1.6em;
    border: solid 1px #b2182a;
    font-size: 1rem;
    height: 1.6em;
    line-height: 1.4em;
    color: #333;
}

.name-explain-title div .name em {
    position: relative;
    z-index: 2;
    font-weight: normal;
}

.name-explain-title div .name i {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    background: #e4d0bb;
}

.name-explain-title div .name i+i {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
}

.name-explain-title div .name:before {
    content: '';
    display: block;
    height: 200%;
    position: absolute;
    width: 1px;
    border-right: dashed 2px #e4d0bb;
    transform: rotate(45deg);
    left: 50%;
    top: 50%;
    margin-top: -100%;
}

.name-explain-title div .name:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    width: 200%;
    border-bottom: dashed 2px #e4d0bb;
    transform: rotate(-135deg);
    top: 50%;
    left: 50%;
    margin-left: -100%;
}

.name-score {
    text-align: center;
    font-size: .5rem;
    margin: 0 auto .3rem;
    line-height: 1;
}

.name-score span {
    color: #b2182a;
}

.modal-user-contact {
    text-align: center;
}

.modal-user-contact input {
    display: block;
    width: 100%;
    padding: .2rem;
    font-size: .45rem;
    border: solid 1px #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-user-contact input[type="text"]:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.modal-user-contact input[type="text"]:focus {
    border-color: #966a3b;
}

.modal-user-contact .modal-title {
    margin: .5rem auto;
}

.modal-user-contact .btn-submit {
    border: none;
    outline: 0;
    font-size: .45rem;
    display: block;
    margin: .5rem auto;
    padding: .2rem .6rem;
}

.modal-user-contact .btn-submit {
    background-color: #966a3b;
    color: #fff;
    border-radius: 5px;
}